.#{$prefix}-ungraded-container {
    position:absolute;
    top:0;
    right:10px;
    width:80px;
    height:100px;
}

.#{$prefix}-ungraded-wrapper {
    width:80px;
    height:80px;
    margin-top: 7px;
    border:6px solid #f2f2f2;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content: center;
}

.#{$prefix}-ungraded {
    font-size:0.8em;
    text-align:center;
    margin:6px 0 0 0;
}

.#{$prefix}-ungraded-icons {
    font-size:1.4em;
    line-height:15px;
}





.#{$prefix}-ungraded-icons-edit {
    font-size:1.4em;
    line-height:15px;
}

.#{$prefix}-ungraded-edit {
    display: none;
}

.#{$prefix}-ungraded-wrapper:hover .#{$prefix}-ungraded-edit {
    display: block !important;
}

.#{$prefix}-ungraded-wrapper:hover .#{$prefix}-ungraded-icons-edit {
    display: none !important;
}